<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ asset('assets/style/pink.css') }}">
</head>
<body>

<a href="/deathsmiles">Deathsmiles</a>
<a href="/mushihimesama">Mushihimesama</a>
<a href="/crimzon_clover/type_1">Crimzon Clover</a>
<a href="/ikaruga/white">Ikaruga</a>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
