{% extends 'base.html.twig' %}
{% block body %}
    <table>
        <tr>
            <th>Windia</th>
            <th>Casper</th>
            <th>Follet</th>
            <th>Rosa</th>
            <th>Sakura</th>
            <th>Jacky</th>
            <th>Patoche</th>
        </tr>
        <tr>
            <td><img src="http://image.xboxlive.com/global/t.415807d8/tile/0/2042b"></td>
            <td><img src="http://image.xboxlive.com/global/t.435a07d9/tile/0/28017"></td>
            <td><img src="http://image.xboxlive.com/global/t.435a07d9/tile/0/2800f"></td>
            <td><img src="http://image.xboxlive.com/global/t.415807d8/tile/0/20402"></td>
            <td><img src="http://media.xboxlive.fr/achiev/415807d8_45.png"></td>
            <td><img src="http://p5.storage.canalblog.com/53/44/194067/7731556.jpg" style="height: 64px"></td>
            <td><img src="http://www.babelio.com/users/AVT_Patrick-Sebastien_753.jpeg" style="height: 64px"></td>
        </tr>
    </table>
{% endblock %}